<form id='shorten-url' class='input-back' method='post' action='/data'>
    <input type='url' name='url' placeholder='http://'/>
    <input type='submit' value='Shorten link' class='button'/>
</form>
