<div id='main-info'>
    <span id='clicks' title='Clicks'><%= clicks %></span>
    <h1 title='Short link'>wdR.im/<%= id %></h1>
    <a title='Long link' href='<%= longUrl %>'><%= longUrl %></a>
</div>
<div id='map'>
    
</div>