<div id='main-info'>
    <span id='clicks' title='Clicks'><%= clicks %></span>
    <h1 title='Short link'>wdR.im/<%= id %></h1>
    <a title='Long link' href='<%= longUrl %>'><%= longUrl %></a>
</div>
<div id='map' width='790' height='600'></div>
<div id='charts'>
    <div class='chart pie' id='location-chart'></div>
    <div class='chart pie' id='referrer-chart'></div>
    <div class='chart pie' id='browser-chart'></div>
    <div class='chart pie' id='os-chart'></div>
</div>