<div id='main-info'>
    <span id='clicks' title='Clicks'><%= clicks %></span>
    <select id='time-range' title='Select a time range'>
	<option value='0'>Total</option>
	<option value='1'>Past month</option>
	<option value='2'>Past week</option>
	<option value='3' selected>Past 24 hours</option>
	<option value='4'>Past hour</option>
    </select>
    <h1 title='Short link'>wdR.im/<%= id %></h1>
    <a title='Long link' href='<%= longUrl %>'><%= longUrl %></a>
</div>
<div id='map' width='790' height='600'></div>
<div id='charts'>
    <div class='chart pie' id='location-chart'>
	<h2>Countries</h2>
	<div></div>
    </div>
    <div class='chart pie' id='referrer-chart'>
	<h2>Referrers</h2>
	<div></div>
    </div>
    <div class='chart pie' id='browser-chart'>
	<h2>Browsers</h2>
	<div></div>
    </div>
    <div class='chart pie' id='os-chart'>
	<h2>Operating Systems</h2>
	<div></div>
    </div>
</div>