<!doctype html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect(),
	  	id = document.getElementById('data');

		socket.on('connection', function () {
			socket.emit('id', 1);
			socket.on('partial', function (data) {
				id.innerHTML += data;
			});
		});
    </script>
  </head>
  <body>
    <ul id="data"></ul>
  </body>
</html>
