header {
    margin-top: 50px;
}

#copy-bubble {
    opacity: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #3B3B3B;
    color: #EDEDED;
    font-size: 10px;
    text-shadow: 0 -1px 0px #000;
    padding: 4px 8px;
    margin: 4px 0 0;
    -webkit-border-radius: 3px;
}

#copy-bubble:before {
    display: block;
    content: '';
    border-color: transparent #3B3B3B transparent transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
    position: absolute;
    left: -11px;
    top: 5px;
    
}

#main-info h1 {
    display: inline-block;
    font-size: 25px;
    font-style: italic;
    margin: 0;
}

#copy-url {
    position: relative;
    z-index: 10;
    vertical-align: top;
    font-size: 12px;
    margin: 3px 5px 0;
    padding: 3px 10px;
}

#charts .chart, #clicks, #time-range, #map {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ababab;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
			0 0 1px 0 rgba(0, 0, 0, 0.1),
			0 1px 0 0 #fff inset;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
		     0 0 1px 0 rgba(0, 0, 0, 0.1),
		     0 1px 0 0 #fff inset;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
		0 0 1px 0 rgba(0, 0, 0, 0.1),
		0 1px 0 0 #fff inset;
    
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f7f7f7));
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#f7f7f7 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%,#f7f7f7 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%,#f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f7f7f7',GradientType=0 );
    background: linear-gradient(top, #f2f2f2 0%,#f7f7f7 100%);
}

#time-range {
    vertical-align: top;
    height: 26px;
    float: right;
    margin: 10px 10px 0;
    
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#clicks {
    display: inline-block;
    float: right;
    padding: 1px 5px 3px;
    margin: 4px 0 0;
    min-width: 150px;
    
    font-size: 24px;
    font-weight:bold;
    text-align: right;
}

#clicks:before {
    margin: 0 -5px;
    position: relative;
    top: 16px;
    display: block;
    width: auto;
    content: '';
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#map {
    margin: 10px 0;
    height: 550px;
    text-shadow: none;
    border-color: #363636;
}

/*#map {
    margin: 10px 0;
    height: 550px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    text-shadow: none;
}*/

#charts {
    margin: 0 -10px;
}

#charts .chart {
    float: left;
    display: inline-block;
    width:  390px;
    margin: 9px;
    height: 200px;    
    overflow: hidden;
}

#charts .chart h2 {
    margin: 0;
    padding: 6px 0 6px 10px;
    font-size: 14px;
    border-bottom: 1px solid #ababab;
}